@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6 !important;
}

ul,
li {
  list-style: none;
}

.a {
  text-decoration: none;
  color: inherit;
}

.a:hover {
  text-decoration: none;
}

.box_flame {
  background-color: #FFF;
  border-radius: 15px !important;
  box-shadow: 3px 2px 1px 1px gainsboro
}

/* サイドバー */
.sidebar {
  width: 200px;
  /* height: 100%; */
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

.menu-icon {
  width: 10%;
  margin: 6%;
}

/* ログインページ */
.atlas_logo {
  position: absolute;
  width: 36%;
  right: 33%;
  top: 15%;
}

.login-box.border.vh-50 {
  width: 35%;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 3px 2px 1px 1px gainsboro
}

/* ユーザー登録画面 */
.birthday-select select {
  border: none;
  border-bottom: 1px solid dodgerblue;
}

.register-box {
  background-color: #FFF;
  font-weight: bold;
}


/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.closed_calendar-td {
  min-width: 100px;
  background-color: #f5f5f5;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
  background: #FFF !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 2;
}

/* 掲示板 */
.post_wrapper {
  overflow: scroll;
  max-height: 80%;
}

.main_categories,
.search_conditions {
  position: relative;
}

/* 矢印 */
.main_categories::after,
.search_conditions::after {
  border-right: solid 2px #494949;
  border-top: solid 2px #494949;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.subject_edit_btn::after {
  border-right: solid 2px #03AAD2;
  border-top: solid 2px #03AAD2;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 1037px;
  top: 41.5%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.main_categories.open::after,
.search_conditions.open::after {
  top: 41%;
  transform: rotate(-45deg);
}

.subject_edit_btn.open::after {
  top: 42%;
  transform: rotate(-45deg);
}

/* 矢印ここまで */

.sub_categories {
  display: none;
}


.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}


.btn_custom {
  border-radius: 10px !important;
}

.btn.bg-info.post_btn {
  color: #fff !important;
  background-color: #03aad2 !important;
  text-decoration: none;
  color: inherit;
  width: 98%;
}

.btn.bg-info.post_btn a {
  text-decoration: none;
  color: inherit;
}

.btn.bg-info.post_btn a:hover {
  text-decoration: none;
}

.btn.bg-info.search_btn {
  color: #fff;
  background-color: #03aad2 !important;
}

.btn.bg-info.category_btn.like_search {
  color: #fff;
  background-color: #e38eab !important;
}

.btn.bg-info.category_btn.my_post_search {
  color: #fff;
  background-color: #ebbc5d !important;
}

.btn.bg-info.sub_category_tag {
  color: #fff;
  background-color: #03aad2 !important;
}

.post_title a {
  color: black !important;
  font-weight: bold;
}

.fa.fa-comment::before,
.fas.fa-heart.like_btn::before {
  color: #9E9E9E;
}

.fa.fa-comment,
.fas.fa-heart.un_like_btn {
  color: #E2254D;
}

.sub_category_custom {
  display: flex;
  flex-direction: column;
  border: none;
}

.sub_category_custom input {
  background-color: #ECF1F6;
}

.sub_category.category_border {
  border: none;
}

.sub_category_custom .sub_category.category_border {
  width: 86%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}




/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.category_flame {
  margin-bottom: 5%;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80%;
  overflow: scroll;
  padding: 10px;
  /* background: #FFF; */
  border-radius: 5px;

}


.reserve_users_area span {
  font-size: 12px;
  font-weight: bold;
}

.one_person {
  margin: 1%;
  width: 175px;
  height: 200px;
  padding: 2%;
}

.one_person_index {
  color: #999;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  /* background: #FFF; */
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.search_text {
  border: none;
  border-radius: 5px;
  background-color: #e0e5e9 !important;
  padding: 2%;
}

.search_conditions {
  border-bottom: solid 1px;
  width: 70%;
}

.search_index_text {
  color: midnightblue;
}

.btn.bg-info.search_btn {
  color: #fff !important;
  background-color: #03aad2 !important;
  text-decoration: none;
  color: inherit;
  width: 70%;
  margin-top: 5%;
}

.reset_text {
  color: #03aad2;
  border: none;
  width: 70%;
  margin-top: 5%;
}

/* プロフィール */
.edit_subject {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.subject_edit_btn {
  color: #03AAD2;
  font-size: 15px;
}

.border {
  padding: 0% !important;
}

.date_text_title {
  text-align: center;
}

/* 予約確認画面 */
.reserve_users_table {
  width: 100%;
}

.reserve_users_table tr th {
  background-color: #03AAD2;
}

.reserve_users_table tr {
  background-color: #e5f6fa;
}

.reserve_users_table tr:nth-child(odd) td {
  background-color: #fff;
}
